@model CarDIler.ViewModel.FullPostViewModel
@{
    ViewData["Title"] = "DetalPost";
}

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="lead">@Model.Posts.Name</h4>
            <button class="close" data-dismiss="modal" area-hidden="true"><img src="~/svg/error.svg" width="20" height="20"/></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 blog-content">
                    <img class="col-md-12 align-content-center" src="@Url.Content(Model.Posts.CoverPath)">
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <hr />
                        <p class="m-1">
                            <a asp-action="EditBlogPost" 
                               asp-controller="Admin" 
                               asp-route-id="@Model.Posts.Id">
                            <img src="~/svg/edit.svg" width="25" height="25" title="Edit">
                            </a>
                            <a asp-action="DelPost" 
                               asp-controller="Admin" 
                               asp-route-id="@Model.Posts.Id">
                            <img src="~/svg/error.svg" width="25" height="25" title="Delete">
                            </a>
                        </p>
                        <hr/>
                    }
                    <p class="text-justify"><span style="white-space: pre-line">@Model.Posts.Desc</span></p>
                    <hr />
                    <p>Date of publication: @Model.Posts.Date</p>
                    @if (Model.Posts.DateEdit != null && Model.Posts.Date != Model.Posts.DateEdit)
                    {
                        <p>Date edit: @Model.Posts.DateEdit</p>
                    }
                    <p>Added by - @Model.Posts.AddedBy <span class="font-italic">Id: @Model.Posts.Id</span></p>
                </div>
            </div>
        </div>
    </div>