@model CarDIler.ViewModel.BlogViewModel
@{
    ViewData["Title"] = "Blog";
}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('/images/rolls_royce.jpg')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Car Blog</h1>
                    <p>Welcome to personal blog</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">

            @foreach (var item in Model.Posts)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="post-entry-1 h-100">
                        <a asp-action="DetalPost" asp-controller="Post" asp-route-id="@item.Id">
                            <img src="images/post_1.jpg" alt="Image"
                                 class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">

                            <h2><a asp-action="DetalPost" asp-controller="Post" asp-route-id="@item.Id">@item.Name</a></h2>
                            <span class="meta d-inline-block mb-3">@item.Date</span>
                            <p>@item.ShortDesc</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
