@model CarDIler.ViewModel.BlogViewModel
@{
    ViewData["Title"] = "Blog";
}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url('/images/rolls_royce.jpg')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Car Blog</h1>
                    <p>Welcome to personal blog</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">

        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <a asp-action="AddPost"
               asp-controller="Admin"
               class="btn btn-outline-success">
                Add Post
            </a><hr />
        }
        <div class="row">

            @foreach (var item in Model.Posts)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="post-entry-1 h-100">
                        <a asp-action="DetalPost" asp-controller="Post" asp-route-id="@item.Id">
                            <img src="@Url.Content(item.CoverPath)" alt="Image"
                                 class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">

                            <h2><a asp-action="DetalPost" asp-controller="Post" asp-route-id="@item.Id">@item.Name</a></h2>
                            <span class="meta d-inline-block mb-3">@item.Date <span class="mx-2">by</span> @item.AddedBy</span>
                            <p>@item.ShortDesc</p>

                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <p class="m-1">
                                    <a asp-action="EditPost" asp-controller="Admin" asp-route-id="@item.Id"><img src="~/svg/edit.svg" width="25" height="25" title="Edit"></a>
                                    <a asp-action="DelPost" asp-controller="Admin" asp-route-id="@item.Id"><img src="~/svg/error.svg" width="25" height="25" title="Delete"></a>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>

        @if (Model.PageViewModels.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModels.PageNumber - 1)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Previous
            </a>
        }
        @if (Model.PageViewModels.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModels.PageNumber + 1)"
               class="btn btn-outline-dark">
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }

    </div>
</div>
